{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>Welcome {{ request.user.username }}!</h2>
    <div class="col-sm-5 col-md-5 well">
      <h2>Your Projects</h2>
      <ul>
        {% if not projects %}
        <li>
          <h4>You don't have any projects yet</h4>
        </li>
        {% endif %}
        {% for project in projects %}
        <li>
          <h4><a href="{%url 'view_project' project.project_name%}">{{project.project_name}}</a></h4>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class ="col-sm-1 col-md-1"></div>
    <div class="col-sm-6 col-md-6 well">
      <h2>Discussions you watch</h2>
      {% for topic, comment in topic_digest.items %}
      <p>in <a href="{%url 'view_topic' topic.topic_name%}">{{topic.topic_name}}</a>, <span class="text-muted">{{ comment.creator }}</span> said "{{comment.content}}"</p>
      {% endfor %}
      <br/>
    </div>
  </div>
{% endblock %}
