.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}

.container{

}

img{
  width: inherit;
}

.synced{
  width: inherit;
}

.headroom{
  padding-top: 20px;
}
